body{
    position: relative;
    background-color: rgb(5, 8, 32);
    color: rgb(222, 218, 218);
    box-sizing: border-box;
    padding: 30px;
    
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(255, 255, 255, 0.479);
    transition: color 0.3s ease;
}

.header{
    height: 100vh;
    box-sizing: border-box;
}
/* =====navbar section started===== */

.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 10vh;
    box-shadow: 0px 1px rgb(58, 57, 57);
    box-sizing: border-box;
}
.fa-solid{
    padding-right: 5px;
}

/* =====navbar section ended===== */

/* =====Hero section started */
.hero{
    display: flex;
    justify-content: space-between;
}
.heroInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}
.heroName {
    font-size: 3em;
}
.heroJob{
    font-size: 2em;
}
.heroFigure img {
    border-radius: 50%;
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
}

/* =====Hero section ended */

/* =====Aside section started===== */
.fa-brands{
    padding-right: 5px;
}
.aGithub{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 2px;
    border-top-left-radius: 20px;
}
.aLinkedin{
    background-color: black;
    padding: 10px;
    border-bottom-left-radius: 20px;
}
.aside{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-size: 1.2em;
    position: fixed;
    bottom: 40vh;
    right: 0;
}
/* =====Aside section ended===== */

/* =====About section started====== */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.about div{
    margin: 70px;
    padding: 20px 60px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
}
.about h2{
    font-size: 3em;
}
.about p{
    font-size: 1.5em;
    text-align: justify;
}

/* =====About section ended====== */

/* =====Skill section started===== */
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skills h2{
    font-size: 3em;
}
.skills p{
    font-size: 1.5em;
    text-align: center;
}
.skills ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0px;
}
.skills li{
    background-color: rgba(41, 20, 234, 0.53);
    width: 300px;
    padding: 20px 20px;
    border-radius: 20px;
}
.skills img{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding-top: 10px;
}